SECRET_KEY_BASE=
DATABASE_URL=postgres://localhost/looooom_development
REDIS_URL=redis://localhost:6379/0
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_ONE_TIME_PRICE_ID=
STRIPE_SUBSCRIPTION_PRICE_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET=
R2_ACCOUNT_ID=
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=
APP_HOST=localhost:3000
MAILER_FROM=hello@example.com
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
ADMIN_EMAIL=
ADMIN_NAME=loom Admin
SENTRY_DSN=
SENTRY_TRACES_SAMPLE_RATE=0.1
